.carousel__btn {
	width: 2.5rem;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.1);
	opacity: 0.6;
	border: none;
	transition: background-color 0.3s;
	cursor: pointer;
	transition: background-color 0.3s;

	&:hover {
		background-color: rgba(0, 0, 0, 0.3);
	}

	.btn-arrow {
		font-size: 1.5rem;
		color: #fff;
	}
}
.carousel {
	width: 100% !important;
	height: 300px !important;

	.carousel__container-img {
		width: 100% !important;
		height: 300px !important;
		margin: 0;
		padding: 0;
		display: flex;

		.carousel__img {
			width: 100%;
			object-fit: cover;
			background-color: transparent;
		}
	}
}
